<div class="footer-component">
  <span class="copyright">
    {{ 'APP.FOOTER.COPYRIGHT' | translate }}
  </span>
  <div class="footer-items">
    <a routerLink="/contact-us">
      {{ 'APP.FOOTER.LINKS.CONTACT_US' | translate }}
    </a>
    <a routerLink="/privacy-and-policy">
      {{ 'APP.FOOTER.LINKS.PRIVACY_AND_POLICY' | translate }}
    </a>
    <a routerLink="/cookies-policy">
      {{ 'APP.FOOTER.LINKS.COOKIES_POLICY' | translate }}
    </a>
    <a routerLink="/terms-and-conditions">
      {{ 'APP.FOOTER.LINKS.TERMS_AND_CONDITIONS' | translate }}
    </a>
    <a routerLink="/gdpr">{{ 'APP.FOOTER.LINKS.GDPR' | translate }}</a>
  </div>
</div>
