<div class="terms-component">
  <ngx-extended-pdf-viewer
    [src]="pdfSrc"
    useBrowserLocale="true"
    height="1024px"
    [textLayer]="true"
    [showSidebarButton]="false"
    [showToolbar]="false"
  ></ngx-extended-pdf-viewer>
  <!-- <div  class="terms-container">
        <h1>
            Terms & <br />
            Conditions
        </h1>
        <div class="text-container">
            <div class="row">
                <p>
                    These terms and conditions ("Agreement") set forth the general terms and conditions of your use of the google.com website ("Website" or "Service") and any of its related products and services (collectively, "Services"). This Agreement is legally binding between you ("User", "you" or "your") and this Website operator ("Operator", "we", "us" or "our"). 
                </p>
    
                <p>
                    By accessing and using the Website and Services, you acknowledge that you have read, understood,
                    and agree to be bound by the terms of this Agreement. If you are entering into this Agreement on 
                    behalf of a business or other legal entity, you represent that you have the authority to bind such entity
                    to this Agreement, in which case the terms "User", "you" or "your" shall refer to such entity. If you do
                    not have such authority, or if you do not agree with the terms of this Agreement, you must not accept
                    this Agreement and may not access and use the Website and Services. 
                </p>
    
                <p>
                    You acknowledge that this Agreement is a contract between you and the Operator, even though it is
                    electronic and is not physically signed by you, and it governs your use of the Website and Services. 
                </p>
            </div>
            

            <div class="row">
                <h2>
                    Accounts and membership
                </h2>
    
                <p>
                    If you create an account on the Website, you are responsible for maintaining the security of your account and you are fully responsible for all activities that occur under the account and any other actions taken in connection with it. 
                </p>
    
                <p>
                    We may, but have no obligation to, monitor and review new accounts before you may sign in and start using the Services. Providing false contact information of any kind may result in the termination of your account. You must immediately notify us of any unauthorized uses of your account or any other breaches of security. We will not be liable for any acts or omissions by you, including any damages of any kind incurred as a result of such acts or omissions.
                </p>
            </div>
           

            <div class="row">
                <h2>
                    Link to the resources
                </h2>
    
                <p>
                    Although the Website and Services may link to other resources (such as websites, mobile applications, etc.), we are not, directly or indirectly, implying any approval, association, sponsorship, endorsement, or affiliation with any linked resource, unless specifically stated herein. We are not responsible for examining or evaluating, and we do not warrant the offerings of, any businesses or individuals or the content of their resources. 
                </p>
    
                <p>
                    We do not assume any responsibility or liability for the actions, products, services, and content of any other third parties. You should carefully review the legal statements and other conditions of use of any resource which you access through a link on the Website and Services. Your linking to any other off-site resources is at your own risk.
                </p>
            </div>

            <div class="row">
                <h2>
                    Intellectual property rights
                </h2>
    
                <p>
                    "Intellectual Property Rights" means all present and future rights conferred by statute, common law or
                     equity in or in relation to any copyright and related rights, trademarks, designs, patents, inventions,
                     goodwill and the right to sue for passing off, rights to inventions, rights to use, and all
                     other intellectual property rights, in each case whether registered or unregistered and including all applications and rights 
                     to apply for and be granted, rights to claim priority from, such rights and all similar or equivalent rights or forms of protection and any other results of
                     intellectual activity which subsist or will subsist now or in the future in any part of the world.
                </p>
    
                <p>
                    This Agreement does not transfer to you any intellectual property owned by the Operator or third parties, and all rights, 
                    titles, and interests in and to such property will remain (as between the parties) solely with the Operator. 
                </p>
    
                <p>
                    All trademarks, service marks, graphics and logos used in connection with the Website and Services, are 
                    trademarks or registered trademarks of the Operator or its licensors. Other trademarks,
                    service marks, graphics and logos used in connection with the Website and Services may be the trademarks of other third parties. Your use of the Website and Services
                    grants you no right or license to reproduce or otherwise use any of the Operator or third party trademarks. 
                </p>
    
                <h2>
                    Changes and amendments
                </h2>
    
                <p>
                    We reserve the right to modify this Agreement or its terms relating to the Website and Services at any time, 
                    effective upon posting of an updated version of this Agreement on the Website. When we do, we will send you an email to notify you. 
                    Continued use of the Website and Services after any such changes shall constitute your consent to such changes.
                </p>
            </div>
           

            <div class="row">
                <h2>
                    Acceptance of these terms
                </h2>
    
                <p>
                    You acknowledge that you have read this Agreement and agree to all its terms and conditions.
                    By accessing and using the Website and Services you agree to be bound by this Agreement. 
                    If you do not agree to abide by the terms of this Agreement, you are not authorized to access or use the Website and Services.
                    This terms and conditions policy was created with the terms and conditions generator.
                </p>
            </div>
           

            <div class="row">
                <h2>
                    Contacting us
                </h2>
                <p>
                    If you would like to contact us to understand more about this Agreement or wish 
                    to contact us concerning any matter relating to it, you may send an email to test@platformaauto.com.
                </p>
    
                <p>
                    This document was last updated on May 12, 2021 
                </p>
            </div>
        </div>
    </div> -->

</div>
