$white: #ffffff;
$black: #000000;
$logo: #4fc1e0;
$blue: #4fc1e0;
$dark-blue: #225361;
$darker-blue: #3d95ad;
$darkest-blue: #184451;
$darker-white: #f4f4f4;
$gray: #656e70;
$divided: #aaaaaa;
$green: #1cd286;
$darker-green: #3d8b6a;
$error: #ff0000;
$gmail: #de5145;
$facebook: #3b5998;
